<video-webrtc></video-webrtc>

<div class="control-panel">
    <table>
        <thead>
            <tr>
                <th>Items</th>
                <th>Switchs</th>
            </tr>
        </thead>
        <tbody>
            <!--todo : 之後改從database抓，ngFor呈現-->
            <tr>
                <td>
                    Live Video
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="switchWebrtc(!isWebrtcConnected)"
                        [disabled]="!webrtcButtonEnable">{{ webrtcButtonLabel }} 
                        <mat-spinner class="spinner" [diameter]="20" [hidden]="webrtcButtonEnable"></mat-spinner>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    LED Switch
                </td>
                <td>
                    <mat-slide-toggle class="example-margin" [(ngModel)]="gpioCheckedObject.isCheckedLed"
                        (change)="setGpio(21, $event.checked)">
                    </mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    Cooling Fans
                </td>
                <td>
                    <mat-slide-toggle class="example-margin" [(ngModel)]="gpioCheckedObject.isCheckedFan"
                        (change)="setGpio(20, $event.checked)">
                    </mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    LED Light Intensity
                </td>
                <td>
                    <mat-slider class="example-margin" [thumbLabel]="true" [tickInterval]="'auto'"
                        (change)="changeIntensityOfLed($event.value)">
                    </mat-slider>
                </td>
            </tr>
        </tbody>
    </table>
</div>