.streaming-video {
    width: 100%;
}

.control-panel {
    width: 500px;
    position: relative;
    display: inline-block;
}

.spinner {
    position: absolute;
    top: 25%;
    left: 25%;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.record-video {
    color: white;
}

.blink {
    color: red;
    animation: blink 1s linear infinite;
}